body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
    border-bottom: 2px solid #eaeaea;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

header .logo img:hover {
    transform: rotate(20deg);
}

header h1 {
    font-size: 24px;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a.active {
    color: #007bff;
    font-weight: bold;
}

nav a:hover {
    color: #0056b3;
}

.cerrar_sesion img {
    width: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cerrar_sesion img:hover {
    transform: scale(1.2);
}
/* Contenedor principal */
.container {
    padding: 20px;
}

.container h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para la lista de servicios */
.servicios {
    margin-top: 20px;
}

.servicios h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.agenda {
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.agenda:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.agenda p {
    margin: 0;
    font-size: 20px;
    color: #000000;
    display: flex;
    align-items: center;
}

.agenda p strong {
    color: #000000;
    margin-right: 10px;
}

.popup-rechazo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: none;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

.popup-content {
    display: flex;
    flex-direction: column;
}

.popup-content textarea {
    margin-top: 10px;
    resize: none;
    height: 80px;
}


/* Estilos adicionales para el botón de detalles */
.botones button {
    margin-top: 2%;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Espaciado entre los botones */
}

.aceptar_btn {
    background-color: #28a745;
    color: white;
}

.aceptar_btn:hover {
    background-color: #218838;
}

.rechazar_btn {
    background-color: #dc3545;
    color: white;
}

.rechazar_btn:hover {
    background-color: #c82333;
}

.detalles_btn {
    background-color: #007bff;
    color: white;
}

.detalles_btn:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 40px; /* Añade un margen superior para separar el footer del contenido */
}

.contenido-footer {
    display: flex;
    justify-content: space-around;
}

.contenido-footer div {
    flex: 1;
    margin: 0 10px;
}

.contenido-footer h3 {
    margin-top: 0;
}

.contenido-footer p, .contenido-footer a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.contenido-footer a:hover {
    text-decoration: underline;
}

.copyright_footer {
    border-top: 1px solid #444;
}

.social-icon {
    color: rgb(254, 254, 254);
}

.info-legal a {
    color:rgb(254, 254, 254)
}
