/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    border-bottom: 2px solid #eaeaea;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

header .logo img:hover {
    transform: rotate(20deg);
}

header h1 {
    font-size: 24px;
    margin: 0;
}

nav {
    display: flex;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

nav a.activo {
    font-weight: bold;
}

.salir img {
    width: 30px;
}

.progreso-servicio {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
    text-align: left;
}

h2, h3 {
    color: #333;
}

.detalles-ordem, .detalle-provedor, .pedido-detalles, .historial {
    margin-bottom: 20px;
}

.detalle-provedor img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}


/* Barra de progreso */
.barra-contenedor {
    width: 100%;
    background-color: #ddd;
    border-radius: 25px;
    overflow: hidden;
    height: 30px;
    margin-bottom: 10px;
}

#barra-progreso {
    width: 50%; /* Cambia según el progreso */
    height: 100%;
    background-color: #39B6FF;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 25px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.contenido-footer {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
}

.contenido-footer div {
    margin: 0 20px;
}

.contenido-footer h3 {
    margin-top: 0;
}

.contenido-footer p, .contenido-footer a {
    color: white;
    text-decoration: none;
}

.contenido-footer a:hover {
    text-decoration: underline;
}

.copyright_footer {
    border-top: 1px solid #444;
    padding-top: 10px;
    margin-top: 20px;
}

.social-icon {
    display: block;
    margin-bottom: 5px;
    color: white;
}
.info-legal a {
    display: block;
    margin-bottom: 5px; 
}