body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    max-width: 600px; /* Limita el ancho del contenedor principal */
    width: 100%;
}

.card {
    border-radius: 8px;
    overflow: hidden; /* Asegura que el contenido se ajuste dentro del card */
}

.card-header {
    background-color: #007bff;
    color: #fff;
    font-size: 1.5rem;
    padding: 15px;
}

.list-group-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
    margin-bottom: 0.5rem;
}

h5 {
    font-weight: bold;
    margin-top: 15px;
}

#botonPagar, #botonCancelar {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
}

#botonPagar {
    background-color: #28a745;
    color: #fff;
    border: none;
}

#botonPagar:hover {
    background-color: #218838;
}

#botonCancelar {
    background-color: #dc3545;
    color: #fff;
    border: none;
}

#botonCancelar:hover {
    background-color: #c82333;
}
