/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

/* Estilos de las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #37b5ff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilos de los estados */
.status {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.status-pending {
    background-color: #ff9800;
}

.status-accepted {
    background-color: #4caf50;
}

.status-canceled {
    background-color: #f44336;
}

.status-completed {
    background-color: #4caf50;
}

/* Estilos de los botones */
.btn {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #484646;
}

#btn-aceptar{
    background-color: #4caf50;
}

#btn-rechazar{
    background-color: #f44336;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2px;
    position: flex;/* Fija el footer en la parte inferior de la página */
    bottom: 0; /* Asegura que el footer esté pegado al borde inferior */
    width: 100%;
}

.contenido-footer {
    display: flex; /* Utiliza flexbox para organizar los elementos hijos dentro del footer */
    justify-content: space-around;/* Distribuye el espacio restante de forma equitativa entre los elementos */
}

.contenido-footer div {
    flex: 1;/* Cada div dentro de .contenido-footer ocupará el mismo ancho disponible */
    margin: 0 10px;/* Margen horizontal entre los divs */
}

.contenido-footer h3 {
    margin-top: 0;/* Elimina el margen superior de los encabezados dentro del footer */
}

.contenido-footer p, .contenido-footer a {
    font-size: 15px;
    color: white;
    text-decoration: none;/* Elimina el subrayado de los enlaces por defecto */
    display: block;/* Los convierte en elementos de bloque para que ocupen todo el ancho disponible */
    margin-bottom: 5px;/* Añade margen inferior para separarlos visualmente */
}

.contenido-footer a:hover {
    text-decoration: underline;/* Agrega un subrayado cuando se pasa el mouse sobre los enlaces */
}

.copyright_footer {
    border-top: 1px solid #444;/* Añade una línea superior al footer para separarlo del contenido principal */
}

header {
    display: flex; /* Usa un contenedor flexible para alinear los elementos */
    justify-content: space-between; /* Espacia los elementos del header */
    align-items: center; /* Centra los elementos verticalmente */
    padding: 20px;
    background-color: white; 
    color: black;
}

.logo img {
    height: 80px; /* Establece la altura del logo */
}

nav {
    flex-grow: 1; /* Hace que el nav ocupe el espacio disponible */
    margin-left: 100px; /* Margen a la izquierda del nav */
}

nav ul {
    list-style: none; /* Elimina los puntos que trae la lista desordenada*/
    display: flex; /* Muestra los elementos de la lista en una fila */
    gap: 10px; /* Espacio entre los elementos de la lista */
    cursor: pointer; /* Cambia el cursor al pasar sobre la lista */
    padding: 0; /* Elimina el padding de la lista */
    margin: 0; /* Elimina el margen de la lista */
}

nav ul li {
    margin: 0; /* Elimina el margen de los elementos de la lista */
}

nav ul li a {
    color: black;
    font-style: initial; /* Estilo de fuente inicial (sin cursiva) */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    font-weight: bold; /* Texto en negrita */
    padding: 10px 20px;
    border-radius: 4px; /* Bordes redondeados de los enlaces */
}

nav ul li a:hover {
    color: #37b5ff;
    text-decoration: underline 3px; /* Subrayado del enlace con 3px de grosor */
}

.boton-volver-atras {
    display: flex; /* Usa un contenedor flexible para los botones de cuenta */
    gap: 10px; /* Espacio entre los botones */
}

.boton-volver-atras img {
    width: 60px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantén la proporción de la imagen */
}