/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

/* Estilos de las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #37b5ff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilos de los estados */
.status {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.status-pending {
    background-color: #ff9800;
}

.status-accepted {
    background-color: #4caf50;
}

.status-canceled {
    background-color: #f44336;
}

.status-completed {
    background-color: #4caf50;
}

/* Estilos de los botones */
.btn {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #484646;
}

#btn-aceptar{
    background-color: #4caf50;
}

#btn-rechazar{
    background-color: #f44336;
}