body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

h1, h2 {
    font-weight: bold;
}

#circleCalificacion {
    position: relative;
    width: 150px;
    height: 150px;
}

#circleCalificacion circle {
    transform: rotate(-90deg);
    transform-origin: center;
}

.text-muted {
    font-size: 1rem;
    line-height: 1.5;
}

canvas {
    max-height: 300px;
    width: 100%;
}
