
#Login_Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*Termina de ajustar el codigo en el centro*/
  background-color: #3b9aff;
  width: 40%;
  height: auto;
  padding: 20px;
  border-radius: 10px; /*Redondea los bordes*/
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block; /*Hace que el "titulo" ocupe todo el espacio disponible en su línea(ancho)*/
  margin-bottom: 5px;
  font-weight: bold; /*Pone el texto en negrita*/
  color: #555;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /*hace que el ancho y alto especificados incluyan el padding y el borde*/
  margin-bottom: 15px;
}

#BtnLogin {
  background-color: #0288d1;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;/*Cambia el estilo del mouse al pasar por encima*/
}

#BtnLogin:hover {
  background-color: #0277bd;
}

.links {
  display: block;
  margin-top: 15px;
  color: #333;
  text-decoration: none;/* Elimina la decoración de subrayado que viene por defecto */
}

.links:hover {
  text-decoration: underline;/*Agrega el subrayado de nuevo, pero solo cuando pasa el mouse encima*/
}

/*Header*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: white;
  border-bottom: 2px solid #eaeaea;
}

.header-content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

header .logo img {
  width: 50px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

header .logo img:hover {
  transform: rotate(20deg);
}

header h1 {
  font-size: 24px;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav a.active {
  color: #007bff;
  font-weight: bold;
}

nav a:hover {
  color: #0056b3;
}

.nav-link.inicio:hover, 
.nav-link.perfil:hover {
  font-weight: bold;
  font-size: 18px;
}

.logout {
  margin-left: auto;
}

.logout img {
  width: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logout img:hover {
  transform: scale(1.2);
}


/*Footer*/ 

footer {
  background-color: #3b9aff; 
  padding: 25px 40px; /*25px vertical y 40px horizontal*/
  text-align: center;
  position: fixed; /*Hace que el footer siempre sea visible en la parte inferior de la pantalla.*/
  width: 100%; 
  bottom: 0; /*Posiciona el footer en la parte inferior de la ventana del navegador*/
  z-index: 100; /* Hace que el elemento esté más "adelante" (encima de otros elementos).*/
  opacity: 1; /*Cambia la opacidad para que sea completamente visible*/
}

.footer-links a {
  margin: 0 30px;
  text-decoration: none;
  color: #1f1f1f;
}

.footer-links a:hover {
  color: #0d0d0e;
  font-weight: bold;
}



