body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h1, h2 {
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    border-bottom: 2px solid #eaeaea;
}

.header-content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

header .logo img {
    width: 50px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

header .logo img:hover {
    transform: rotate(20deg);
}

header h1 {
    font-size: 24px;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a.active {
    color: #007bff;
    font-weight: bold;
}

nav a:hover {
    color: #0056b3;
}

.cerrar_sesion {
    margin-left: auto;
}

.cerrar_sesion img {
    width: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cerrar_sesion img:hover {
    transform: scale(1.2);
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 100px;
}

.lista_agenda {
    width: 70%;
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 20px;
    border-right: 1px solid #eaeaea;
}

.icono {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 10;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icono img {
    width: 30px;
    margin-right: 10px;
}

.icono h2 {
    font-size: 24px;
    margin: 0;
}

.agenda {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.agenda h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #007bff;
}

.agenda p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}

.agenda span {
    display: block;
    font-weight: bold;
}

footer {
    background-color: #3b9aff;
    padding: 25px 40px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
    opacity: 1;
}

.footer-links a {
    margin: 0 30px;
    text-decoration: none;
    color: #1f1f1f;
}

.footer-links a:hover {
    color: #0d0d0e;
    font-weight: bold;
}
