body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body ocupe al menos la altura de la ventana */
}

h1, h2, h3 {
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    border-bottom: 2px solid #eaeaea;
}

header .logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

header .logo img {
    width: 50px;
    margin-right: 10px;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a.activo {
    color: #007bff;
    font-weight: bold;
}

nav a:hover {
    color: #0056b3;
}

.salir {
    margin-left: auto;
}

.salir img {
    width: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.salir img:hover {
    transform: scale(1.2);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 40px; /* Añade un margen superior para separar el footer del contenido */
}

.contenido-footer {
    display: flex;
    justify-content: space-around;
}

.contenido-footer div {
    flex: 1;
    margin: 0 10px;
}

.contenido-footer h3 {
    color: white; /* Asegúrate de que el color sea visible */
    margin: 10px 0; /* Espaciado adicional */
    font-size: 20px; /* Ajusta el tamaño de la fuente si es necesario */
}


.contenido-footer p, .contenido-footer a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.contenido-footer a:hover {
    text-decoration: underline;
}

.copyright_footer {
    border-top: 1px solid #444;
}

.social-icon {
    color: rgb(254, 254, 254);
}

.info-legal a {
    color:rgb(254, 254, 254)
}

.estructura-admin {
    display: flex;
    margin: 20px;
    flex-grow: 1; /* Permite que esta sección ocupe el espacio restante */
    padding-bottom: 20px; /* Espacio para el footer */
}

.sidebar {
    width: 250px;
    background-color: #569fec; /* Color de fondo más suave */
    color: #000000;
    padding: 30px;
    border-radius: 8px;
    margin-right: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 95%; /* Ajuste de altura del sidebar */
    padding-bottom: 10px; /* Padding en la parte inferior */
    box-sizing: border-box;
}

.sidebar h2 {
    margin-top: 0;
    font-size: 23px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #333;
    text-decoration: none;
    font-size: 19px;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #fafafa;
    color: rgb(0, 0, 0);
}

.sidebar .icon {
    width: 30px;
    margin-right: 10px;
}

.contenido-principal {
    flex-grow: 1;
    background-color: #f1f3f5;
    padding: 20px;
    border-radius: 8px;
}

.widgets {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.widget {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 48%; /* Para asegurar que los gráficos se alineen en dos columnas */
    text-align: center;
}

.widget h3 {
    margin-top: 0;
}

.tabla-datos {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tabla-datos table {
    width: 100%;
    border-collapse: collapse;
}

.tabla-datos th, .tabla-datos td {
    border: 1px solid #eaeaea;
    padding: 10px;
    text-align: left;
}

.tabla-datos th {
    background-color: #007bff;
    color: white;
}

.calificar-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.calificar-btn:hover {
    background-color: #218838;
}

.graficos-container {
    text-align: center; /* Centra el título y el contenido dentro del contenedor */
    margin-bottom: 30px; /* Espacio debajo del contenedor de gráficos */
}

.graficos-container h3 {
    font-size: 20px;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.graficos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta el tamaño de las columnas */
    justify-content: center; /* Centra el grid en el contenedor */
    margin: 0 auto; /* Centra el grid en el contenedor */
}

.grafico {
    display: flex;
    justify-content: center; /* Centra el contenido dentro del div del gráfico */
    align-items: center; /* Alinea el contenido verticalmente en el centro */
}

.grafico img {
    max-width: 60%; /* Ajuste de tamaño de las imágenes para hacerlas más pequeñas */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 8px; /* Opcional: agrega bordes redondeados a las imágenes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: agrega una sombra sutil a las imágenes */
}
