/* Asegúrate de que el body esté alineado correctamente */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hace que el body ocupe toda la altura de la pantalla */
}

/* Estilos del header */
header {
    display: flex; /* Usa un contenedor flexible para alinear los elementos */
    justify-content: space-between; /* Espacia los elementos del header */
    align-items: center; /* Centra los elementos verticalmente */
    padding: 20px;
    background-color: white; 
    color: black;
}

/* Ajustar el logo y el título MOVO */
header .navbar-brand img {
    margin-right: 10px;
    height: 60px;
    transition: 0.5s ease;
}

header .navbar-brand img:hover {
    transform: rotate(20deg);
}

header .navbar-brand span {
    font-size: 24px;
}

/* Estilo para los enlaces de navegación */
.nav-link {
    font-size: 16px;
    font-weight: bold;
    color: #000 !important;  /* Forzar color negro predeterminado */
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
    color: #0056b3 !important;  /* Cambiar a azul al hacer hover */
    background-color: #f8f9fa;
    border-radius: 5px;
}

/* Estilo para centrar los enlaces */
.navbar-nav {
    gap: 30px;
}

/* Ajustar la imagen de cerrar sesión */
.ms-auto img {
    transition: transform 0.5s ease;
}

.ms-auto img:hover {
    transform: scale(1.2);  /* Añadir un efecto de opacidad al pasar el mouse */
}

/* Ajusta el contenido a una anchura específica y lo centra */
.content {
    width: 80%; /* Ajusta este valor según lo que necesites */
    max-width: 1200px; /* Establece un ancho máximo para evitar que sea demasiado amplio */
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Estilos para las secciones de contenido */
.content-section {
    background-color: white;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
}

.content-section h2 {
    margin-top: 0;
    font-weight: normal;
}

.content-section p,
.content-section ul {
    margin: 0;
    font-weight: normal;
}


/* Sección de gráficos */
.chart-container {
    background-color: white;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 auto;
}

/* Ajustar el tamaño de los gráficos */
.chart-container canvas {
    width: 300px; /* Tamaño medio para el gráfico */
    height: 300px;
    margin: 20px 0;
}

#legend {
    font-size: 20px; /* Tamaño de las leyendas */
}

#legend ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#legend li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#legend li span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid rgb(8, 8, 8); /* Añadir borde negro */
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.contenido-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenido-footer div {
    flex: 1;
    min-width: 200px;
}

.contenido-footer a {
    font-size: 15px;
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.contenido-footer a:hover {
    text-decoration: underline;
}

.copyright_footer {
    border-top: 1px solid #444;
    padding-top: 10px;
    background-color: #222;
    color: #ccc;
    font-size: 14px;
}


.boton-volver-atras {
    display: flex; /* Usa un contenedor flexible para los botones de cuenta */
    gap: 10px; /* Espacio entre los botones */
}

.boton-volver-atras img {
    width: 40px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantén la proporción de la imagen */
}