#carrito {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  width: 100%;
}

.carrito-servicios {
  padding: 20px;
  flex-grow: 1;
}

.header-carrito {
  padding: 10px;
  background-color: #f9f9f9;
}

.servicio {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #000000;
}

.detalles-servicio {
  margin-left: 20px;
}

.total-pagar {
  background-color: #f9f9f9;
  padding: 20px;
  border-left: 1px solid #eaeaea;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: sticky;
  top: 20px;
  max-width: 300px;
  margin-left: 20px;
}


.total-pagar h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.total-pagar p {
  font-size: 18px;
  color: #555;
}

.btn-pago {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
}
/*Estilos del header*/

header #logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

header #logo img,
header #logo-salir img {
  width: 50px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

header #logo img:hover,
header #logo-salir img:hover {
  transform: rotate(20deg); /* la imagen rota cuando el raton pasa sobre ella */
}

header h1 {
  font-size: 24px;
  margin: 0;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav a.active {
  color: #007bff;
}

nav a:hover {
  color: #0056b3;
}

/* Estilos del footer */
footer {
  background-color: #333;

}

.contenido-footer h3 {
    margin-top: 0;/* Elimina el margen superior de los encabezados dentro del footer */
}

.contenido-footer  {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;/* Elimina el subrayado de los enlaces por defecto */
    margin-bottom: 5px;/* Añade margen inferior para separarlos visualmente */
}

.col-md-4  a:hover {
    text-decoration: underline;/* Agrega un subrayado cuando se pasa el mouse sobre los enlaces */
}

.copyright_footer {
    border-top: 1px solid #444;/* Añade una línea superior al footer para separarlo del contenido principal */
}