body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

h1 {
    font-weight: bold;
    color: #007bff;
}

.card {
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

textarea, select {
    border-radius: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); /* Hace las flechas blancas */
}

.carousel-indicators [data-bs-target] {
    background-color: #007bff;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.carousel-indicators .active {
    background-color: #0056b3;
}
