
#Login_Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*Termina de ajustar el codigo en el centro*/
  background-color: #3b9aff;
  width: 40%;
  height: auto;
  padding: 20px;
  border-radius: 10px; /*Redondea los bordes*/
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block; /*Hace que el "titulo" ocupe todo el espacio disponible en su línea(ancho)*/
  margin-bottom: 5px;
  font-weight: bold; /*Pone el texto en negrita*/
  color: #555;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /*hace que el ancho y alto especificados incluyan el padding y el borde*/
  margin-bottom: 15px;
}

#BtnLogin {
  background-color: #0288d1;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;/*Cambia el estilo del mouse al pasar por encima*/
}

#BtnLogin:hover {
  background-color: #0277bd;
}

.links {
  display: block;
  margin-top: 15px;
  color: #333;
  text-decoration: none;/* Elimina la decoración de subrayado que viene por defecto */
}

.links:hover {
  text-decoration: underline;/*Agrega el subrayado de nuevo, pero solo cuando pasa el mouse encima*/
}
/* Estilos del header */
header {
  display: flex; /* Usa un contenedor flexible para alinear los elementos */
  justify-content: space-between; /* Espacia los elementos del header */
  align-items: center; /* Centra los elementos verticalmente */
  padding: 20px;
  background-color: white; 
  color: black;
}

.logo img {
  height: 80px; /* Establece la altura del logo */
}

nav {
  flex-grow: 1; /* Hace que el nav ocupe el espacio disponible */
  margin-left: 100px; /* Margen a la izquierda del nav */
}

nav ul {
  list-style: none; /* Elimina los puntos que trae la lista desordenada*/
  display: flex; /* Muestra los elementos de la lista en una fila */
  gap: 10px; /* Espacio entre los elementos de la lista */
  cursor: pointer; /* Cambia el cursor al pasar sobre la lista */
  padding: 0; /* Elimina el padding de la lista */
  margin: 0; /* Elimina el margen de la lista */
}

nav ul li {
  margin: 0; /* Elimina el margen de los elementos de la lista */
}

nav ul li a {
  color: black;
  font-style: initial; /* Estilo de fuente inicial (sin cursiva) */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  font-weight: bold; /* Texto en negrita */
  padding: 10px 20px;
  border-radius: 4px; /* Bordes redondeados de los enlaces */
}

nav ul li a:hover {
  color: #37b5ff;
  text-decoration: underline 3px; /* Subrayado del enlace con 3px de grosor */
}

.botones-cuenta {
  display: flex; /* Usa un contenedor flexible para los botones de cuenta */
  gap: 10px; /* Espacio entre los botones */
}

.btn {
  display: inline-block; /* Muestra el botón en línea */
  padding: 12px 24px; /* Espaciado interno del botón */
  font-size: 18px; 
  font-weight: bold; /* Texto en negrita */
  color: #333;
  background-color: white; 
  border-style: groove; /* Estilo de borde del botón */
  border-radius: 5px; /* Bordes redondeados del botón */
  text-decoration: none; /* Elimina el subrayado del texto del botón */
  text-align: center; 
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transición para el color de fondo y para la transformación */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.btn:hover {
  background-color: #37b5ff; 
  transform: scale(1.05); /* Aumenta el tamaño del botón al pasar el ratón */
}

.btn:active {
  transform: scale(0.98); /* Reduce el tamaño del botón cuando se hace clic */
}


/* Estilos del footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;/* Fija el footer en la parte inferior de la página */
    bottom: 0; /* Asegura que el footer esté pegado al borde inferior */
    width: 100%;
}

.contenido-footer {
    display: flex; /* Utiliza flexbox para organizar los elementos hijos dentro del footer */
    justify-content: space-around;/* Distribuye el espacio restante de forma equitativa entre los elementos */
}

.contenido-footer div {
    flex: 1;/* Cada div dentro de .contenido-footer ocupará el mismo ancho disponible */
    margin: 0 10px;/* Margen horizontal entre los divs */
}

.contenido-footer h3 {
    margin-top: 0;/* Elimina el margen superior de los encabezados dentro del footer */
}

.contenido-footer p, .contenido-footer a {
    font-size: 18px;
    color: white;
    text-decoration: none;/* Elimina el subrayado de los enlaces por defecto */
    display: block;/* Los convierte en elementos de bloque para que ocupen todo el ancho disponible */
    margin-bottom: 5px;/* Añade margen inferior para separarlos visualmente */
}

.contenido-footer a:hover {
    text-decoration: underline;/* Agrega un subrayado cuando se pasa el mouse sobre los enlaces */
}

.copyright_footer {
    border-top: 1px solid #444;/* Añade una línea superior al footer para separarlo del contenido principal */
}


