/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header #logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
header #logo img,
header #logo-salir img {
    width: 50px;
    margin-right: 10px;
    transition: transform 0.3s ease;
  }
  
header #logo img:hover,
header #logo-salir img:hover {
    transform: rotate(20deg); /* la imagen rota cuando el raton pasa sobre ella */
  }
  
header h1 {
    font-size: 24px;
    margin: 0;
  }
  
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
nav a.active {
    color: #007bff;
  }
  
nav a:hover {
    color: #0056b3;
  }
/* Contenedor principal */
.estructura-admin {
    padding: 20px;
}

.estructura-admin h1 {
    font-size: 28px;
    color: #333;
}

/* Menú de navegación */
.nav-pills .nav-link {
    color: #007bff;
    background-color: #e9ecef;
    margin: 0 5px;
    border-radius: 5px;
    font-weight: bold;
}

.nav-pills .nav-link.active {
    background-color: #007bff;
    color: #ffffff;
}

/* Tabla de Comentarios */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table thead th {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    text-align: left;
}

table tbody tr {
    background-color: #ffffff;
    transition: background-color 0.3s;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

table tbody td {
    padding: 10px;
    border-top: 1px solid #dddddd;
}

table .btn {
    font-size: 14px;
    margin: 0 2px;
}

/* Detalle de Comentario */
#detalle-comentario {
    display: none;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#comentario-detalle {
    font-size: 16px;
    color: #333333;
}

/* Botón de cerrar detalle */
#detalle-comentario .btn {
    font-size: 14px;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #333;
  
  }
  
.contenido-footer h3 {
      margin-top: 0;/* Elimina el margen superior de los encabezados dentro del footer */
  }
  
.contenido-footer  {
      font-size: 18px;
      color: rgb(255, 255, 255);
      text-decoration: none;/* Elimina el subrayado de los enlaces por defecto */
      margin-bottom: 5px;/* Añade margen inferior para separarlos visualmente */
  }
  
.col-md-4  a:hover {
      text-decoration: underline;/* Agrega un subrayado cuando se pasa el mouse sobre los enlaces */
  }
  
.copyright_footer {
      border-top: 1px solid #444;/* Añade una línea superior al footer para separarlo del contenido principal */
  }
