
#Box_Formulario {
    display: flex;
    flex-direction: column;
    place-items: center; /* centra los elementos horizontalmente */
    justify-content : center; /* centra los elementos de forma vertical*/
    background-color: #3b9aff; /*color de fondo del contenedor del formulario*/
    width: 50%; /*Ancho que usa de la pagina*/
    height: auto;
    padding: 20px;
    position: absolute; /*Permite mover el contenedor mas a gusto, se pone una capa encima de los elementos*/
    top: 50%;
    left: 50%; /*top y left centran la esquina superior del formulario en la pagina*/
    transform: translate(-50%, -50%); /*Mueve el formulario hacia arriba y hacia la izquierda la mitad de su tamaño, para finalmente centrarlo*/
    border-radius :10px;
}

#Contenedor { /*Separa el formulario en dos columnas*/
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre las columnas */
    width: 100%;
}

.columnas {
    width: 48%; 
    margin-right: 70px; /*Margen respecto del lado derecho*/
}

.columnas:last-child {
    margin-right: 0; /*Quita el margen dercho de la ultima columna*/
}

input[type="text"],
input[type="email"],
input[type="password"], /*Selecciona los campos de entrada y el select*/
select {
    width: 100%;
    padding: 8px;
    border-radius: 5px; /*Redondea los bordes*/
    margin-bottom: 10px;
    border: 1px solid #ccc; /*Añade un delgado borde*/
}

#Final {
    text-align: center; /*Centra el contenido*/
    margin-top: 20px;
}

#BtnRegistro {
    width: 50%;
    padding: 10px;
    background-color: #0288d1;
    color: white;
    font-size: 16px;
    border: none; /*Le quita el borde*/
    border-radius: 8px; /*Redondea los bordes*/
    cursor: pointer; /*Cambia el estilo del mouse al pasar por encima*/
}

#BtnRegistro:hover {
    background-color: #0277bd; /*Cambia el color del boton al pasar el mouse encima*/
}

#login-link {
    display: block; /*Hace que el link ocupe todo el espacio disponible en su línea(ancho)*/
    margin-top: 15px;
    font-size: 14px;
    color: #333;
    text-decoration: none;/* Elimina la decoración de subrayado que viene por defecto */
}

#login-link:hover {
    text-decoration: underline; /*Agrega el subrayado de nuevo, pero solo cuando pasa el mouse encima*/
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /*convierte el texto en negrita*/
    text-align: center;
}

#mensaje-error {
  font-size: larger;
  font-weight: bold;
  color: rgb(255, 0, 0);
  padding-bottom: 20px;
}

/*Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    border-bottom: 2px solid #eaeaea; /*Modifica el border de la parte de abajo*/
  }
  
  .header-content {
    display: flex;
    flex-grow: 1; /*Hace que el contenid odel header pueda crecer para ocupar todo el espacio extra */
    justify-content: center;
    align-items: center;
  }
  
  header .logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  header .logo img {
    width: 50px;
    margin-right: 10px;
    transition: transform 0.3s ease; /*Tiempo de la animacion*/
  }
  
  header .logo img:hover {
    transform: rotate(20deg); /*Animacion de rotacion de la imagen al poner el mouse encima*/
  }
  
  header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  
  nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  nav a.active {
    color: #007bff;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #0056b3;
  }
  
  .nav-link.inicio:hover, 
  .nav-link.perfil:hover {
    font-weight: bold;
    font-size: 18px;
  }
  
  .logout {
    margin-left: auto;
  }
  
  .logout img {
    width: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .logout img:hover {
    transform: scale(1.2); /*Agranda un 20% la imagen al poner el mouse encima*/
  }
  
/*Footer*/ 

footer {
    background-color: #3b9aff; 
    padding: 25px 40px; /*25px vertical y 40px horizontal*/
    text-align: center;
    position: fixed; /*Hace que el footer siempre sea visible en la parte inferior de la pantalla.*/
    width: 100%; 
    bottom: 0; /*Posiciona el footer en la parte inferior de la ventana del navegador*/
    z-index: 100; /* Hace que el elemento esté más "adelante" (encima de otros elementos).*/
    opacity: 1; /*Cambia la opacidad para que sea completamente visible*/
  }
  
  .footer-links a {
    margin: 0 30px;
    text-decoration: none;
    color: #1f1f1f;
  }
  
  .footer-links a:hover {
    color: #0d0d0e;
    font-weight: bold;
  }
  
  