body {
    background-color: #4ba3ff; 
    color: #333; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.Terminos {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

h1 {
    color: #007bff; 
    text-align: center;
}

h2 {
    color: #333;
    font-size: 18px;
    margin-top: 20px;
}

p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

ol {
    margin-left: 20px;
}

ol li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px 0;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}